{% load static%}
<!--========================= COMPONENTE NAVBAR ===================================-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts_list' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'autor_list' %}">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categoria_list' %}">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts_list' %}">Buscador</a>
            </li>
        </ul>
    </div>
</nav>

